@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url("../imagens/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Raleway", sans-serif;
}

/*container*/
.container {
  position: relative;
  left: 35px;
  top: 15px;
  width: 95%;
  height: calc(100vh - 30px);
  background: url("../imagens/bg.jpg") no-repeat center center;
  background-size: cover;
  border-radius: 10px;
  border: 1px solid #ffffff;
  overflow: hidden;
}

/*navs*/

/*nav-search*/
.search {
  display: flex;
  align-items: center;
}

.search input {
  border: none;
  outline: none;
  height: 40px;
  margin: 2px;
  background: #ffcb0d;
}

.search .icon {
  color: #ffcb0d;
  width: 2.6rem;
  height: 2.6rem;
  padding: 0.5rem;
  background: #241600;
}

/*navbar*/
.navbar {
  margin-top: 30px;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
}

ul {
  display: flex;
  align-items: center;
}

ul img {
  opacity: 70%;
  width: 90px;
  margin: 10px;
}

ul a {
  margin: 0px 20px;
  text-decoration: none;
  color: #959595;
  font-size: 15px;
}

/*texts*/
.title {
  width: 100%;
  height: 100%;
  position: absolute;
}

.dark {
  position: relative;
  left: 180px;
  top: 100px;
  color: #ffcb0d;
  font-size: 190px;
  font-weight: 500;
  letter-spacing: 180px;
  animation: light 3s ease-in-out infinite;
}

@keyframes light {
  0% {
    text-shadow: 0px 0px 0px;
  }

  50% {
    text-shadow:
      2px 2px 20px #ffcb0d80,
      -2px -2px 20px #ffcb0d80;
  }
}

.subt {
  color: #fff;
  font-weight: 400;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 70px;
  left: 50%;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 20px;
  text-shadow:
    2px 2px 5px #ffffff,
    -2px -2px 5px #ffffff,
    3px 3px 15px #ffffff,
    -3px -3px 15px #ffffff;
}

.subt::before {
  content: "";
  position: relative;
  top: 15px;
  left: 60%;
  height: 1px;
  width: 100px;
  background: #ffffff60;
}

.subt::after {
  content: "a netflix original series";
  position: relative;
  top: 7px;
  left: 20%;
  text-shadow: none;
  font-weight: 300;
  letter-spacing: 3px;
}

.season {
  position: absolute;
  top: 380px;
  left: 15px;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  text-shadow:
    1px 1px 7px #fff,
    -1px -1px 7px #fff;
  transform: rotate(90deg);
}

/*bottom-texts*/
.bottom-texts {
  position: relative;
  top: 70%;
  color: #fff;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.main {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  position: relative;
  right: 50px;
  letter-spacing: 3px;
}

.sub-bottom {
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-top: 20px;
}

.subs {
  max-width: 150px;
  position: relative;
  top: 20px;
  right: 50px;
  font-size: 12px;
  line-height: 17px;
}

.sub-bottom span {
  color: #ffffff80;
}

/*persona*/
.persona {
  position: absolute;
  left: 550px;
  bottom: -4px;
  z-index: 99;
}

.persona img {
  height: 350px;
  width: 290px;
}

/*obejcts*/
.rectangle {
  position: absolute;
  bottom: 0;
  border-radius: 0px 0px 0px 10px;
  background: #ffcb0d;
  width: 600px;
  height: 50px;
  z-index: 2;
}

.circle {
  position: absolute;
  bottom: -90px;
  left: 550px;
  width: 320px;
  height: 320px;
  border-radius: 50%;

  background: transparent;

  border-top: 32px solid #ffffff60;
  border-left: 32px solid transparent;
  border-right: 32px solid transparent;
  border-bottom: 32px solid #ffffff60;
  border-style: groove;

  animation: rotating 5s linear infinite;
}

@keyframes rotating {
  100% {
    transform: rotate(360deg);
  }
}
